.tile-link {
  display: inline-block;
  width: 7rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.00);
  transition: 100ms ease;
  margin: 1.00rem 1.00rem 1.00rem 1.00rem;
}

.tile-link:hover {
  transform: scale(1.05);
  transition: 100ms ease;
}
