@import '../../../../styles/helpers/colors';

form {
  width: 95%;
}

legend {
  font-size: 1.25rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}

.control-margin {
  margin: 0.7rem;
}

.submit {
  button {
    color: $blue-grey-50;
  }
}
