:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-title {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
}
figure {
  width: 130px;
}
.title {
  margin-left: 2rem;

  h4 {
    padding-bottom: 0.5rem;
  }
}
