
:host {
  width: 100%;
}


.title {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.sub-title {
  font-size: 1.0rem;
  padding-bottom: 0.5rem;
}

.authors {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.image-title {
  text-decoration: none;
  cursor: pointer;
  display: block;
}

@media only screen and (min-width: 480px) {

  .image-title {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "figure title";
  }

  figure {
    grid-area: figure;
  }

  .title-area {
    grid-area: title;
  }

}
