@import "../../../../styles/helpers/colors";

.search-field-container {
  width: 90%;
  margin: 10.0rem auto 10.0rem auto;
  border: 1px solid $blue-grey-50;
  padding: 5.00rem 0 5.00rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


