@import './../../../styles/helpers/colors';
.default-header {
  display: flex;
  flex-direction: column;
}

a, button {
  color: $grey-50;
  cursor: pointer;
  text-decoration: none;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $green-500;
}
.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 1.85rem;
  padding: 0.25rem 0.25rem 0.25rem 1.25rem;
}

.default-nav-screen {
  display: none;
  visibility: hidden;
}

.default-nav-mobile {
  background-color: $green-400;
  width: 100%;

  a {
    padding: 0.500rem 0.500rem 0.500rem 0.500rem;
    display: inline-block;
    width: 100%;
  }
}

.mobile-menu-button {
  button {
    background: none;
    color: $blue-grey-50;
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem;
  }

  button:hover {
    background-color: $green-300;
  }
}

