@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');
@import "../helpers/colors";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $grey-700;
}

h1 {
  font-size: 2.75rem;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2.50rem;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 2.00rem;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 1.50rem;
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-size: 1.20rem;
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-size: 1.00rem;
  font-family: 'Roboto', sans-serif;
}

